$kart-width: 25em;
$meter-width: $kart-width * 0.5;

$font-family: sans monospace;
$font-color: black;
$font-size: 10pt;

$padding: 20px;

$primary-color: #6495ed;
$secondary-color: #87cefa;

@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

* {
    @include box-sizing(border-box);
}

html, body, body > * {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;

    color: $font-color;
    font-family: $font-family;
}

meter {
    background: none;
    background-color: $secondary-color;
}

hr {
    border: dashed;
    color: black;
}

#karts {
    font-size: $font-size;
    overflow-x: auto;
    overflow-y: hidden;
    
    max-height: 40em;

    white-space: nowrap;
}

#karts > * {
    vertical-align: middle;
    padding: $padding;
    margin-right: ($padding / 2);
}

.kart{
    background: white;

    display: inline-block;
    width: $kart-width;
}

.kart-options {
    padding-bottom: 1em;
}

.kart-options > select {
    display: block;
    width: 100%;
}


.small {
    color: grey;
    font-size: 0.5em;
}

.big-button {
    display: inline-block;
    
    color: white;

    width: 2em;
    height: 100%;

    border: 0;

    background: $primary-color;
    font-size: $font-size * 5;
}

.big-button:hover {
    background: darken($primary-color, 10);
}

.big-button:active {
    background: darken($primary-color, 20);
}


stat-meter {
    display: block;
}

stat-meter > label {
    float: left;
    text-align: left;
    width: 40%;
}

div.meter {
    overflow: hidden;
    
    background: #bbb;
    color: white;

    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #333 inset;
}

div.meter > meter {
    height: 1.5em;
    width: 100%;
}

div.meter > span {
    height: inherit; 
    //background-color: $primary-color;
    background-size: 100% 100%;
    padding: 1px;
    display: block;
}

.level-low > span {
    background-color: desaturate($primary-color, 70%);
}
.level-mid > span {
    background-color: desaturate($primary-color, 40%);
}
.level-high > span {
    background-color: $primary-color;
}
