$kart-width: 25em;
$meter-width: $kart-width * 0.5;

$font-family: "Lucida Sans", sans-serif;
$font-color: black;
$font-size: 10pt;

$padding: 20px;

$primary-color: #6495ed;
$secondary-color: #e4f8ff;
$fill-color: #f5f5f5;

$karts-width: 80%;

@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

// element-level
* {
    @include box-sizing(border-box);
}

html, body, body > * {
    background: $fill-color;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;

    color: $font-color;
    font-family: $font-family;
    
    max-height: 40em;
    overflow: hidden;
    white-space: nowrap;
}

hr {
    border: dashed;
    color: black;
}

// layout
#karts {
    display: inline-block;

    font-size: $font-size;
    overflow-x: auto;
    overflow-y: hidden;
    
    max-width: $karts-width;
    max-height: 40em;

    white-space: nowrap;
    vertical-align: middle;

    padding: $padding;
}

.kart{
    display: inline-block;
    width: $kart-width;
    
    margin-right: ($padding / 2);
}

.kart-options {
    padding-bottom: 1em;
}

.kart-options > select {
    display: block;
    width: 100%;
}

#add-kart {
    width: 99 - $karts-width; // 99% avoids sub-pixel issues
}

// reusable classes
.small {
    color: grey;
    font-size: 0.5em;
}

.big-button {
    display: inline-block;
    
    color: white;

    min-width: 1em;
    height: 100%;

    margin: 0;
    padding: 0;
    border: 0;

    background: $primary-color;
    font-size: $font-size * 5;
}

.big-button:hover {
    background: darken($primary-color, 10);
}

.big-button:active {
    background: darken($primary-color, 20);
}

// custom elements
stat-meter {
    display: block;
}

stat-meter > label {
    float: left;
    text-align: left;
    width: 40%;
}

div.meter {
    overflow: hidden;
    
    background: #bbb;
    color: white;

    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #333 inset;
}

div.meter > meter {
    height: 1.5em;
    width: 100%;
}

div.meter > span {
    display: block;
    height: inherit; 
    padding: 1px;
    
    font-weight: bold;
    text-shadow: #333 1px 1px 1px;
}

.level-low > span {
    background-color: desaturate($primary-color, 70%);
}
.level-mid > span {
    background-color: desaturate($primary-color, 40%);
}
.level-high > span {
    background-color: $primary-color;
}
