<!doctype html>
<html>
<head>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <!-- build:js js/mk8stats.min.js -->
        <script type="text/javascript" src="js/controllers.js"></script>
    <!-- /build -->

    <!-- build:css css/style.min.css -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- /build -->
</head>

<body ng-app="mk8statsApp">
    <div ng-controller="KartsCtrl">
        <div id="karts-container">
            <h1>MK8 Kart Builder</h1>

            <div id="karts">
            <div ng-repeat="kart in karts" class="kart" id="kart-{{kart.id}}" ng-controller="KartCtrl">
                <div class="kart-options">
                    <select ng-model="kart.character"
                            ng-options="d.name group by d.weight|uppercase for d in gameData.characters | orderBy:'gameData.weights[d.weight].order'" >
                    </select>
                    <select ng-model="kart.body" name="karts"
                            ng-options="d.name group by d.type|uppercase for d in gameData.bodies | orderBy:'d.name'">
                    </select>
                    <select ng-model="kart.wheels" name="wheels"
                            ng-options="d.name group by d.type|uppercase for d in gameData.wheels | orderBy:'d.name'">
                    </select>
                    <select ng-model="kart.glider" name="gliders"
                            ng-options="d.name group by d.type|uppercase for d in gameData.gliders | orderBy:'d.name'">
                    </select>
                </div>

                <div class="kart-stats">
                    <hr>
                    <span class="small">Speed</span>
                    <stat-meter name="Ground" value={{stats.speed['ground']}} max=6></stat-meter>
                    <stat-meter name="Water" value={{stats.speed['water']}} max=6></stat-meter>
                    <stat-meter name="Air" value={{stats.speed['air']}} max=6></stat-meter>
                    <stat-meter name="Anti-Grav" value={{stats.speed['antigrav']}} max=6></stat-meter>
                    
                    <hr>
                    <span class="small">Handling</span>
                    <stat-meter name="Ground" value={{stats.handling['ground']}} max=6></stat-meter>
                    <stat-meter name="Water" value={{stats.handling['water']}} max=6></stat-meter>
                    <stat-meter name="Air" value={{stats.handling['air']}} max=6></stat-meter>
                    <stat-meter name="Anti-Grav" value={{stats.handling['antigrav']}} max=6></stat-meter>
                    
                    <hr>
                    <stat-meter name="Acceleration" value={{stats.accel}} max=6></stat-meter>
                    <stat-meter name="Weight" value={{stats.weight}} max=6></stat-meter>
                    <stat-meter name="Traction" value={{stats.traction}} max=6></stat-meter>
                    <stat-meter name="Mini-Turbo" value={{stats.turbo}} max=6></stat-meter>
                    
                    <hr>
                </div>
            </div> <!-- .kart -->
            </div> <!-- #karts -->
        </div> <!-- #karts-container -->
    <button class="big-button" id="add-kart" ng-click="addKart()">+</button>
    </div>
</body>

</html>
